* {

    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
}


body {
    background-color: #191919;
    color: #fff;
    height: 100vh;
    background-image: url(menu33.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right 0%;
}

.container {
    width: 40%;
    margin: auto;
    max-width: 1000px;
}

.header {
    display: flex;
    align-items: center;
    padding: 90px 0;

}
.bobux {
    position: absolute;
    top: 1%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.menu-link {
    position: absolute;
    top: 4%;
    left: 28%;
    transform: translate(-50%, -50%);
    font-size: 10px;

    cursor: pointer;
    color: #fff;
    text-decoration: none;



}

.me u-link {
    margin-left: 24px;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.main-title {
    font-size: 56px;
    margin-bottom: 10px;
    position: absolute;
    margin: 180px auto;
    display: block;
transform: translate(-50%, -50%);
}

.main-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 260px auto;
    display: block;
    transform: translate(-50%, -50%);
    max-width: 30%;



}

.button {

    display: inline-block;
    color: #fff;
    padding: 22px 72px;
    text-decoration: none;
    background: linear-gradient(44deg, #64c08b, #616161);
    margin-top: 15px;
    border-radius: 0px;
    margin-left: 15%;

}

.button1 {
    
    display: inline-block;
    color: #fff;
    padding: 22px 80px;
    text-decoration: none;
    background: linear-gradient(44deg, #64c08b, #616161);
    margin-top: 360px;
    border-radius: 0px;
    margin-left: 25%;
}

.main-title2 {
    font-size: 56px;
    margin-bottom: 10px;
}

