
  
  body {
    margin: auto;

    background-color: #191919;
    color: #fff;
    justify-content: center;
    

  }
  
img {
    margin: auto;
    display: flex;

  }
.info {
    position: absolute;
    text-decoration: none;
    top: 3.5%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.bobux {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 5%;
  margin-left:15%;
  margin-top: 1%;
}


.text1 {
  color: #fff;
  margin: auto;
  text-align: center;
  font-size: 400%;
  width: 40%;
  margin-top: 0%;
  

}

.text {
  color: #fff;
  margin: auto;
  text-align: center;
  font-size: 160%;
  width: 40%;
  margin-top: 1%;
}

.main-desc {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  
}

  .button {
    margin: auto;
    display: inline-block;
    margin-left: 46%;
    margin-top: 2%;
    justify-content: center;
    color: #fff;
    padding: 20px 50px;
    text-decoration: none;
    background: linear-gradient(44deg, #64c08b, #616161);
    border-radius: 100px;


  }
  