* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #191919;
    color: #fff;
    background-image: url(menu33.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right 0%;
  }
  
  .container {
    max-width: 1000px;
    margin: auto;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
  }
  
  .bobux {
    width: 100px;
  }
  
  .menu-link {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
  }
  
  .menu-link:hover {
    text-decoration: underline;
  }
  
  .main-content {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .main-title {
    font-size: 56px;
    margin-bottom: 24px;
  }
  
  .main-desc {
    font-size: 24px;
    margin-bottom: 24px;
  }
  
  .input-field {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }
  
  .input-field input {
    font-size: 24px;
    padding: 8px;
    border-radius: 4px;
    border: none;
    margin-right: 8px;
  }
  
  .button {
    display: inline-block;
    color: #fff;
    padding: 22px 72px;
    text-decoration: none;
    background: linear-gradient(44deg, #64c08b, #616161);
    border-radius: 4px;
    margin-left: 8px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .main-title {
      font-size: 40px;
    }
  
    .main-desc {
      font-size: 20px;
    }
  
    .input-field {
      flex-direction: column;
      align-items: center;
    }
  
    .input-field input {
      margin-bottom: 8px;
      width: 100%;
    }
  
    .button {
      margin-top: 8px;
      margin-left: 0;
    }
  }