body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

div {
    text-align: center;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
}

body {
    background-color: #191919;
    color: #fff;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right 0%;
}

video {
    width: 100%;
    max-width: 800px; /* максимальная ширина видео */
    height: auto;
}

@media only screen and (max-width: 600px) {
    /* настройки для мобильных устройств */
    video {
    max-width: 100%;
    }
}


.video-bg {
    margin: auto;
    display: flex;
    justify-content: center;

}

.text {
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 250%;
}

